/*</ПОДКЛЮЧЕНИЕ ФАЙЛОВ>========================================================================================*/
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
/*</ПОДКЛЮЧЕНИЕ ФАЙЛОВ>=========================================================================================*/
/*</AGREEMENT>==================================================================================================*/
.agreement {

  padding: 253px 0 120px 0;

  @media screen and (max-width: 1023px) {
    padding: 213px 0 80px;
  }

  @media screen and (max-width: 979px) {
    padding: 193px 0 80px;
  }

  @media screen and (max-width: 799px) {
    padding: 183px 0 80px;
  }

  @media screen and (max-width: 640px) {
    padding: 173px 0 80px;
  }

  @media screen and (max-width: 480px) {
    padding: 153px 0 60px;
  }

  // .agreement__content
  &__content {
    @include flex;
    flex-direction: column;
    gap: 25px;
  }

  // .agreement__title
  &__title {
    margin-bottom: 10px;
  }

  // .agreement__text
  &__text {
    text-align: justify;
  }
}
/*</AGREEMENT>==================================================================================================*/
