/*</ЦВЕТА>===========================================================================================================*/
$backgroundColor: #FFFFFF;
$textFirstMainColor: #071739;
$textSecondMainColor: #709FDC;
$textAdditionalColor: #1E1A2B;
$textPlaceholderColor: #A8ABA7;
/*</ЦВЕТА>===========================================================================================================*/
/*</ПАРАМЕТРЫ ШИРИНЫ>================================================================================================*/
$maxWidth: 1440;
$minWidth: 320;
$maxWidthContainer: 1240;
$containerPadding: 15;
$containerWidth: $maxWidthContainer + (2 * $containerPadding);
/*</ПАРАМЕТРЫ ШИРИНЫ>================================================================================================*/
/*</ШРИФТЫ>==========================================================================================================*/
$fontFamily: Montserrat, sans-serif;
$fontWeight: 400;
$fontSize: 16;
/*</ШРИФТЫ>==========================================================================================================*/
/*</ПАРАМЕТРЫ BURGER-MENU>===========================================================================================*/
$burgerWidth: 30;
$burgerBarHeight: 1px;
$burgerBarColor: $textFirstMainColor;
/*</ПАРАМЕТРЫ BURGER-MENU>===========================================================================================*/
